/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

//Modules
@import "partials/base.scss";

header {
	border-bottom: 4px solid $border-color;
	color: $text-disabled;
	line-height: $base-line-height;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $header-font-weight;
	@include display-flex;
	@include flex-direction(column);
}
header, footer, body {
    @include flex(1 0 100%);
}

header, footer {
	background-color: $dark-background-color;
	h1 {
		@include adjust-font-size-to(40px);
		padding: 20px 40%;
		background-color: $dark-background-color;
		width: 100%;
	}
}

.body-container {
	@include display-flex;
	@include flex-direction(column);
	@include flex-wrap(wrap);
	@include justify-content(center);
	align-items: center;
	margin-top: 40px;
	h1 {
		@include adjust-font-size-to(20px);
		color: $base-text;
		font-weight: $bold;
		padding-left: 10px;
		display: inline-block;
		
	}
	&.title {
		border-bottom: 1px solid $border-color;
	}
}

.post-container {
	width: 60%;
	height: 100%;
	border: 1px solid $border-color;
	p {
		display: inline-block;
		float: right;
		@include justify-content(flex-end);
		padding: 15px 10px; 
	}

}


img{
		@include centre(x);
		padding: 20px; 
	}
